/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #031d44ff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* My own CSS*/

.underline{
    border-bottom: 1px;
}

.bg-white {
    background-color: #031d44ff !important;
}

.text-dark {
    color: #FFF !important;
    border-bottom: #FFF;
}

.container {
    background-color: #FFF;
    color: #000000;
    border: hidden;
    border-radius: 10px;
    margin-left: 9%;
    margin-right: 6%;
}

.f1{
    text-align: center;
    width: 60%;
    padding-left: 20%;
}

th, td {
	text-align: left;
	padding: 16px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #70a288ff;
}