@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
@*<link rel="stylesheet" type="text/css" href="main.css">*@

<div class="content">
    <div class="container" style=" background-color: #FFFF; color: #000000; border: hidden; border-radius: 10px;">
        <br>
        <h1 style="padding-left: 6%">About Me</h1>
        <br>
        <img style="width: 20%; display:inline; float: left; padding-left: 5%" src="~/Images/me.jpg" alt="JennyN" />
        <div>
            <p class="f1" style="padding-left: 25%; width: 91%">
                Hello there! <content>(General Kenobi)</content>

                My name is Jenny Nguyen and I am currently studying Computer Science as a Senior at South Dakota State University. I plan on graduating on May 2022, if everything goes according to plan haha 😐.

                Anyways, welcome to my page! As you can tell I'm interested in different fields; User Experience, Web development, and Software Engineering. Basically anything that would involve a creative mind and impacting consumers/users directly.

                My long-term goal in life is to live with little to no regrets, if possible. So with that goal in mind, I wish to bring that into my work. To give the best product I can and be proud of it.

                I hope you enjoy being here and thank you for visiting!! <br><br> -JN
            </p>
        </div>
        <br>
    </div>
    <br>
    <div class="container" style=" background-color: #FFFF; color: #000000; border: hidden; border-radius: 10px;">
        <br>
        <h1 style="padding-left: 6%">Skill Sets</h1>
        <br>
        <div class="row" style=" padding-left: 30%;">
            <div class="column" style=" border-right: double; padding-right: 10px;">
                <table>
                    <tr>
                        <th>Soft Skills</th>
                    </tr>
                    <tr>
                        <td style="padding-right: 20px;">Communication</td>
                        <td>Creative</td>
                    </tr>
                    <tr>
                        <td>Hardworking</td>
                        <td>Leader</td>
                    </tr>
                    <tr>
                        <td>Resourceful</td>
                        <td>Flexible</td>
                    </tr>
                </table>               
            </div>
            <div class="column" style=" padding-left: 20px;">
                <table>
                    <tr>
                        <th>Technical Skills</th>
                    </tr>
                    <tr>
                        <td>C#</td>
                        <td>XD</td>
                    </tr>
                    <tr>
                        <td>HTML</td>
                        <td>CSS</td>
                    </tr>
                    <tr>
                        <td>C++</td>
                        <td>Java</td>
                    </tr>
                    <tr>
                        <td>Figma</td>
                        <td>Illustrator</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div class="container" style=" background-color: #FFFF; color: #000000; border: hidden; border-radius: 10px;">
        <br>
        <h1 style="padding-left: 6%">Hobbies/Interest</h1>
        <br>
        <p class="f1" style="padding-left: 20%; padding-right: 20%;">Here are some hobbies or things i'm interested in!</p>
        <img src="~/Images/images.jpg" alt="group" style="width: 40%"/>
        <div style=" float: right; padding-right: 20%; padding-top: 6%;">
            <ul style="display: inline-block;">
                <li>Baking</li>
                <li>Gardening</li>
                <li>Reading Manga</li>
                <li>Sketching/Doodling</li>
            </ul>
            <ul style="display: inline-block;">
                <li>Photography</li>
                <li>Knitting</li>
                <li>Thrifting</li>
                <li>Plants</li>
            </ul>
        </div>
        <br /><br />
        <p class="f1" style="padding-left: 20%; padding-right: 20%;">The photos that are on this page, were taken by me and edited using Adobe Lightroom and I wanted to show off my bread making skills</p>
        <br />
    </div>
</div>

