@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Information";
}


<div style="padding-left: 50%;">
    <div class="container" style=" background-color: #FFFF; color: #000000; border: hidden; border-radius: 10px;">
        <br>
        <h1 style="padding-left: 6%">Contact Information</h1>
        <br>
        <h5>Email</h5>
        <p style="padding-left:10%;">
            Jenny.Nguyen@jacks.sdstate.edu
            or
            JennyLN10110@outlook.com
        </p>
        <h5>Resume</h5>
        <p style="padding-left:10%;">
            <a href="https://drive.google.com/file/d/1iAJKHLrlNCfiALRK8fPGFsSFTlcg6Op8/view?usp=sharing">Click Here</a>
        </p>
        <h5>References</h5>
        <ul>
            <li>Miranda Sampson [IT Specialist]: Miranda.Sampson@sdstate.edu</li>
            <li>Anna Kurtz [IT Programmer]: Anna.Kurtz@sdstate.edu</li>
            <li>Sydney Berry [Friend]: Sydney.Berry@jacks.sdstate.edu</li>
            <li>Noah Bentley [Friend]: Noah.Bentley@jacks.sdstate.edu</li>
        </ul>
        <br><br />
    </div>
</div>
