@page
@model ProjectModel
@{
    ViewData["Title"] = "Project";
}

<div>
    <div class="container" style=" background-color: #FFFF; color: #000000; border: hidden; border-radius: 10px;">
        <br>
        <h1 style="padding-left: 6%">Projects</h1>
        <br>
        <p class="f1" style="padding-left: 20%; padding-right: 20%;">
            Personal Website<br />
            Where you are now! Just a little introduction site to say hi and get to know me.
            Tech used: HTML, CSS, XD, and Illustrator
            <br /><br />
            Original Personal Website<br />
            This is my first time attempting on making a personal portfolio. Tried to play with different elements to allow myself to get comfortable with CSS and HTML. I didn't dabbled with Javascript because, I didn't know how to connect them both.
            Tech Used: HTML and CSS
            <br /><br />
            Cats<br />
            This will show information about a variety of cats in the wild and domesticated.
            Tech used: HTML && CSS
            <br /><br />
            Barcode<br />
            This takes a 12 digit code that will calculate if the barcode is valid or not.
            Tech used: Java || Ada
            <br /><br />
            BITS Project<br />
            This was a group project for Software Project Management & Testing course. We were tasked to create a system that could be used by BITS company, which was an outdoor gym that consisted the following attractions: Track, Soccer Fields, Batting Cages, and a Concession Stand.
            Tech Used: SQL, HTML, CSS, Javascript, and C#
            <br /><br />
            Campus Map<br />
            Updating the campus map because a new building was finally finished and showcased graphic design knowledge. Inputted new information of the building into the database, along with updating the sidewalks to that building.
            Tech Used: SQL, HTML, CSS
        </p>
        <br>
    </div>
</div>
