@page
@model GraphicModel
@{
    ViewData["Title"] = "Graphic Designs";
}

<div style="padding-left: 50%;">
    <div class="container" style=" background-color: #FFFF; color: #000000; border: hidden; border-radius: 10px;">
        
        <br><br />
    </div>
</div>
