@page
@model UiUxModel
@{
    ViewData["Title"] = "UI/UX";
}

<div style="padding-left: 50%;">
    <div class="container" style=" background-color: #FFFF; color: #000000; border: hidden; border-radius: 10px;">
        <h2>Work In Progress</h2>
    </div>
</div>
