@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="text-center">
        <br>
        <h1 style="padding-left: 6%">About Me</h1>
        <br>
        <div class="f1">

            @*<img src="~/Images/image2-3.jpg" class="img1" />*@

            <p>

                Hello there! <content>(General Kenobi)</content>

                My name is Jenny Nguyen and I am currently studying Computer Science as a Senior at South Dakota State University. I plan on graduating on May 2022, if everything goes according to plan haha 😐.

                Anyways, welcome to my page! As you can tell I'm interested in different fields; User Experience, Web development, and Software Engineering. Basically anything that would involve a creative mind and impacting consumers/users directly.

                My long-term goal in life is to live with little to no regrets, if possible. So with that goal in mind, I wish to bring that into my work. To give the best product I can and be proud of it.

                I hope you enjoy being here and thank you for visiting!! <br><br> -JN <br><br>
            </p>



        </div>

    </div>
</div>


